<% if project.messages.last %>
  <p> <i class="fas fa-envelope-open-text" style="color: #ED462F"></i> Last Message By <%= project.messages.last.user.display_name%>:</p>
  <p class="message-color"> <%= project.messages.last.content.truncate(50) %> </P>
<% end %>
