.about-info {
  text-align: center;
}

.live {
  font-size: 16px;
}

.grow {
  font-size: 16px;
}

.love {
  font-size: 16px;
}

.about-text {
  font-size: 16px;
}

.about-q {
  text-align: center;
}

.about-img {
  width: 100vw;
}
