.about-info {
  text-align: center;
}

.live {
  font-size: 16px;
}

.grow {
  font-size: 16px;
}

.love {
  font-size: 16px;
}

.about-text {
  font-size: 16px;
}

.about-q {
  text-align: center;
}

.about-img {
  width: 100vw;
}

.card-about {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 14px;
}

.about-container-cards {
  background-color: white;
  border-radius: 8px;
  padding: 2%;
  margin: 3%;
}

.card-about-image {
  margin-top: 12px;
  padding-right: 4%;
  width: 40%;
  img {
    width: 100%;
  }
}


.card-about-content {
  margin-top: 12px;
  width: 60%;
}
