.chatroom {
  // height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4% 4% 0% 4%;


   h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }

  h5 {
    font-weight: bold;
  }
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 70px - 65px - 71px);
}

.search-form-control {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.search-form-control .btn {
  position: absolute;
  top: 4px;
  right: 0px;
}

.search-form-control .form-control {
  height: 3.0rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 10px;
}

.search-form-control .form-control:focus {
  border: 1px solid #4267B2;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.blue-back {
  color: #4267B2;
}

#new_message i{
  font-size: 26px;
}

.author {
  span {
    font-style: normal;
    font-weight: bold;
  }

  small {
    color: $gray-500;
  }
}

.message_content {
  margin: 0;
}

#message_content {
  padding-left: 45px;
  padding-top: 10px;
  padding-right: 45px;
}

.my_message {
  color: #4C977B;
}

.other_message {
  color: #F5A833;
}

.message-img {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  object-fit: cover;
}

#photo-input {
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.placeholder {
  position: absolute;
  left: 70px;
}

.upload-photo {
  font-weight: 500;
  position: absolute;
  top: 10px;
  // right: 64px;
  left: 8px;
}

.message_photo {
  margin-bottom: 0;
}

#photo-preview{
  height: 80px;
  width: 80px;
  border-radius: 10px;
  opacity: 0.8;
  border: 1px dotted #F5A833;
}
