// Specific CSS for your home-page

.title {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card-list-text {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.about-sponsor {
  width: 100vw;
  height: 240px;
  background-size: cover;
  margin-bottom: 40px;
}

.question {
  font-size: 20px;
  color: white;
  margin-top: 120px;
}

.form-inline {
  margin-top: 120px;
  width: 80%;
}

.search-bar {
  border-radius: 50px;
  width: 100vw;
  height: 56px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.index-form-inline {
  margin-top: 20px;
  width: 80%;
}

.index-search-bar {
  border-radius: 50px;
  width: 320px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.p-search-bar {
  display: flex;
  justify-content: center;
}

.search-guide {
  color: #555255;
  margin-top: 40px;
  text-align: center;

  .p {
    font-size: 10px;
    margin-bottom: 0;
  }
}
