
.card-product-inbox {
  // overflow: hidden;
  height: 120px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  border-top: solid;
  border-width: 0.5px;
  border-color: #55525581;
  // border-radius: 20px;
}

.project-card-link:last-child {
  border-bottom: solid;
    border-width: 0.5px;
    border-color: #55525581;
}
/* .card-product-inbox.bottom-chat:last-child {
    border-bottom: none;
    border-width: 0.5px;
    border-color: #55525581;
} */

.card-product-img-inbox {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;

}

.title {
  margin: 30px 0 0 0;
  color: #4C977B;
  font-weight: bold;
}

.card-product-inbox h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-product-inbox p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos-inbox {
  padding: 16px 4px 16px 16px;
  width: 240px;
}

.my-fav {
  text-align: right;
}

.card-product-dt {
  text-align: left;
  align-items: flex-end;
  margin-top: 0;
}

.message-color {
  color: #555255;
}




.chats-tap {
  background-image: linear-gradient(#555255, #55525581);
  border-radius: 8px 8px 0 0;
  padding: 0;

  p {
    font-size: x-small;
    color: white;
    margin: 4px;
  }
}
