// Import page-specific CSS files here.
@import "home";
@import "banner";
@import "dashboard";
@import "new";
@import "profile";
@import "about";
@import "project";

.project-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-guide {
  color: #555255;
  margin-left: 48px;
  margin-top: 20px;

  .p {
    font-size: 10px;
    margin-bottom: 0;
  }
}
