.form-headers-projects {
  margin: 4% 16%;

  abbr {
    color: transparent;
  }
}

.create-project-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.placeholder-tint::placeholder {
  font-style: italic;
  color: rgb(185, 181, 181);
}
