
.p-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.about-container {
  margin-top: 28px;
}

.log-in {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.s-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.project-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.join-container {
  display: flex;
  justify-content: center;
}
