.profile-header {
  text-align: center;
  padding: 4%;
  z-index: 5;

  img {
    border-radius: 50%;
    border-color: #555255;
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 1px 1px 1px rgba(39, 39, 39, 0.559);

  }

  h4 {
    margin-top: 16px;
  }
}

.profile-about-me {
  text-align: justify;
  margin: 4% 8% 2% 8%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(39, 39, 39, 0.375);
  border-radius: 2px;
  padding: 4%;

  h4 {
    font-size: smaller;
    color: #423D52;
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: smaller;
  }
}

.sumary-user {
  margin: 2% 8% 2% 8%;
  background-color: #423d52b3;
  border-radius: 2px;
  padding: 4% 1% 1% 1%;
}

.name-edit {
  display: flex;
  justify-content: center;
}

.edit-button-profile {
  color: #423D52;
  margin-top: 10px;
  font-size:10px;

}

.profile-level {
  margin: 1% 10% 2% 10%;
  padding: 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: white;
    font-size: smaller;
    font-weight: bold;
  }
}

.profile-listed,
.profile-volunteered {
  margin: 0% 10% 2% 10%;
  padding: 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  h4 {
    color: white;
    font-size: smaller;
  }
}


.exit-button-profile {
  color: #423D52;
  text-align: right;

  p {
    margin-right: 8%;
  }

}
