.profile-header {
  text-align: center;
  padding: 4%;
  z-index: 5;

  img {
    border-radius: 50%;
  }

  h4 {
    margin-top: 12px;
  }
}

.profile-about-me {
  text-align: center;
  margin: 0 4% 4% 4%;
}

.name-edit {
  display: flex;
  justify-content: center;
}

.edit-button-profile {
  color: #423D52;

}

.profile-level {
  background-color: #4C977B;
  margin: 1% 8% 4% 8%;
  padding: 4%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  color: white;
  box-shadow: 1px 1px 1px rgba(39, 39, 39, 0.559);
  font-weight: bolder;
}

.profile-summary {
  display: flex;
  justify-content:space-evenly;
}

.profile-listed, .profile-volunteered {
  width: 50%;
  background-color: #4c977b88;
  padding: 4%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: rgb(30, 28, 28);
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.559);
}

.profile-listed {
  margin-left: 8%;
  margin-right: 1%;
}

.profile-volunteered {
  margin-right: 8%;
}
