.ps-textt {
 text-align: center;
}

.ps-text {
  font-size: 18px;
  margin-left: 8px;
}

.ps-table th, .ps-table td {
  padding: 0;
}

.ps-info {
  font-size: 18px;
}

.ps-title {
  font-size: 20px;
  font-weight: bold;
}

.ps-table {
  margin-bottom: 0;
  padding: 20px;
}
