<hr>

<div class="footer">
  <p>  <i class="far fa-copyright"></i> KINDER Technologies 2021 </p>
  <p> <i class="fas fa-globe"></i> English(US)</p>
  <div class="footer-text w-100 justify-content-center m-0">
    <P> Privecy  |  Terms  |  Sitemap </P>
    <div class ="icons">
      <P> <i class="fab fa-facebook-square mr-3" style="color: #4867AA;"></i> </p>
      <P> <i class="fab fa-twitter-square mr-3" style="color: #5DA9DD;"></i> </p>
      <P> <i class="fab fa-instagram-square mr-3" style="color: #D0499D;"></i> </p>
      <P> <i class="fab fa-youtube-square" style="color: #ED462F;"></i> </P>
    </div>
  </div>
</div>
