<hr>

<div class="footer">
  <p> KINDER Technologies 2021 </p>
  <p> <i class="fas fa-globe"></i> English(US)</p>
  <div class="footer-text w-100 justify-content-center m-0">
    <P> Privecy  |  Terms  |  Sitemap </P>
  </div>
</div>
