<hr>

<div class="footer">
  <p>  <i class="far fa-copyright"></i> KINDER Technologies 2021 </p>
  <p> <i class="fas fa-globe"></i> English(US)</p>
  <div class="footer-text w-100 justify-content-center m-0">
    <P> Privecy  |  Terms  |  Sitemap </P>
    <div class ="icon">
      <P> <i class="fab fa-facebook-f"> </i>  <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i class="fab fa-youtube"></i></P>
    </div>
  </div>
</div>
