<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <i class="fas fa-search"></i>

    <i class="far fa-heart"></i>
    <i class="fas fa-globe-asia"></i>
    <i class="far fa-comment-alt"></i>
    <i class="far fa-user-circle"></i>
  </div>
</div>



<%# my-page icon with full-color %>
<%# <i class="fas fa-heart"></i> %>

<%# after log-in/profile icon %>
<%# <i class="fas fa-user-circle"></i> %>
