 .btn-blue {
  background-color: #4267B2;
  color: white;
}

 .btn-blue {
  background-color: #CE326A;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}
