.my-project-card-dashboard {
  width: 360px;
  height: 120px;
  margin: 20px 0px;
  border-radius: 20px;
  border-color:black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.project-card-image-dashboard {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.project-card-info-dashboard {
  width: 100%;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-card-info-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
}

.project-card-info-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
  margin-bottom: 0;
}

.project-card-actions-dashboard {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  opacity: .6;
  display: flex;
  justify-content: space-between;

  p {
    margin-top: 0px;
  }
}
