
.car-project {
  width: 240px;
  height: 228px;
  background-color: white;
  border-radius: 20px;
}

.car-img {
  width: 240px;
  height: 160px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.car-title {
  margin-top: 20px;
  font-size: 16px;
  align-items: center;
}
