.footer {
  text-align: center;

  font-family: 'Roboto', sans-serif;
  p {
    margin: 2px;
    font-size: 14px;
  }
  // font-family: 'Rampart One', cursive;
}

.icon {
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #343A40;
  margin-bottom: 60px;
}
