.footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;

  .footer-text {
    margin: 2px;
    font-size: 14px;
    margin-bottom: 8px;
  }

}

.footer-icon {
  font-size: 48px;
  // margin-bottom: 60px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
