.footer {
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Rampart One', cursive;
}

.icon {
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #343A40;
}
