// Top nav
.navbar-top {
  flex-grow: 0;
  padding: 12px 12px 12px 12px;
  margin-bottom: 24px;
  background-color: #E3E4E5;
}

.navbar-top-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
}

.navbar-top-back {
  align-items: center;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar-brand {
  text-decoration: none;
  color: #555255;
  font-size: 16px;
}

.navbar-top-text {
  text-align: right;
  margin-right: 10px;
  font-size: small;


  .p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
}

.navbar-top-avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: cover;
}

// Bottom nav
.navbar {
  justify-content: space-between;
  background-color: #E3E4E5;
  position: fixed;
  bottom: 0;
  width: 100vw;
  justify-content: space-around;
  color: #555255;
  z-index: 2;
}

.icon {
  color: #555255;
  text-align: center;

  .i {
    font-size: 32px;
  }

  .text {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.navbar-link {
  color: #555255;
}

// Dashboard mini nav

.nav-link {
  color: #555255;
}
