
.navbar {
  justify-content: space-between;
  background-color: #E3E4E5;
  position: fixed;
  bottom: 0;
  width: 100vw;
  justify-content: space-around;
  color: #555255;
}

.icon {
  color: #555255;
  text-align: center;

  .i {
    font-size: 32px;
  }

  .text {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.a {
  color: #555255;
}

// .search-bar {
//   border-radius: 50%;
// }
