.project-pictures {
  width: auto;
  height: 180px;
  border-radius: 20px;
  background-size: cover;

}

.p-show-t {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
