// landing

.search-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 160px;
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 4;
  transition: 0.25s top ease-in-out;
}

.search-container-back {
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
  background-color: #F4F4F4;
  margin-top: 0;
  width: 100%;
  height: 64px;
  align-items: center;
}

.searchbar {
  display: flex;
  justify-content: center;
  float: right;
  // background-color: none;
  color: #555255;
  padding: 6px 10px;
  width: 180px;
  height: 40px;
  border: none;
  // font-family:
  // margin-top: 324px;
  font-size: 0.9em;
  font-weight: lighter;
  border-bottom: white solid 2px;
  transition: 0.3s;
  border-radius: 50px
}

.searchbar::placeholder {
  color: #555252;
  // font-family:
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  z-index: 3;
}

.searchbar:focus {
  width: 280px;
  // font-family:
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  border-bottom: white solid 2px;
  outline: none;
  text-align: left;
  padding-left: 20px;
}

.btn-search {
  cursor: pointer;
  color: white;
  text-decoration: none !important;
  // font-family:
  font-size: 1.5em;
  padding-top: 5px;
}

// project#index

.index-form-inline {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.index-search-bar {
  border-radius: 50px;
  width: 280px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.index-search-bar::placeholder {
  color: #555252;
  // font-family:
  font-size: 0.9em;
  // font-weight:
  text-align: center;
}

.index-search-bar:focus {
  width: 400px;
  // font-family:
  font-size: 0.9em;
  font-weight: lighter;
  transition: 0.3s;
  outline: none;
  text-align: left;
  padding-left: 20px;
}

.p-search-bar {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.search-guide {
  color: #555255;
  margin-top: 10px;
  text-align: center;

  .p {
    font-size: 10px;
    margin-bottom: 0;
  }
}
